################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HCSampleApp/bin
/HCSampleApp/obj
/HCSampleApp.Android/bin
/HCSampleApp.Android/obj
/HCTemprueture/bin
/HCTemprueture/obj
/.vs